# uv: virtual environment
.venv/

# Inputted Data 
inputs/
outputs/

# Incomplete Dev Docs and Testing
extra/
docs/
testing/

# uv: build artifacts (if using uv build)
dist/

# uv: optional local-only settings
.uv/

# pycache
__pycache__/

# example html file
joseonofbeauty.html

#
product_output.csv
product_input.csv